<div class="container">

<div class="banner-section" style="background-image: url(<%= image_url("banner.jpg") %>)">
  <h1 class="text-center">Summertime Magic</h1>
  <%= link_to "#cocktail-list" do%>
    <div id="down"><i class="fas fa-angle-double-down"></i></div>
  <% end %>
</div>

<div id="cocktail-list">
<h2>Grab your favorite!</h2>
  <%= link_to 'Add', new_cocktail_path %>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do%>
        <% if cocktail.photo.file %>
          <%= cl_image_tag(cocktail.photo) %>
        <% elsif cocktail.image_url == nil %>
           <div class="card" style="background-image: url(https://www.interserver.net/tips/wp-content/uploads/2016/10/404error.jpeg)"> 
           <% else %>
           <div class="card" style="background-image: url(<%= cocktail.image_url %>)"> 
        <% end %>
            <p class="cocktail-name"><%= cocktail.name %></p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="footer">
    <h3>Want to See more? Follow us!</h3>
  </div>
</div>

</div>
