<div class="banner-section" style="background-image: url(<%= image_url("banner.jpg") %>)">
  <h1 class="text-center">Summertime Magic</h1>
  <%= link_to "#cocktail-list" do%>
    <div id="down"><i class="fas fa-angle-double-down"></i></div>
  <% end %>
</div>

<div class="container" id="cocktail-list">
<h2>Grab your favorite!</h2>
  <%= link_to 'Add', new_cocktail_path %>
  <div class="row mt-5">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do%>
        <% if cocktail.photo %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.image_url %>)"> 
            <%= cocktail.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="footer">
    <h3>Want to See more? Follow us!</h3>
  </div>
</div>
