<div class="banner-section" style="background-image: url(<%= image_url("banner.jpg") %>)">
  <h1 class="text-center">Summertime Magic</h1>
  <%= link_to "#cocktail-list" do%>
    <div id="down"><i class="fas fa-angle-double-down"></i></div>
  <% end %>
</div>

<div class="container">

<div id="cocktail-list">
<h2 class="text-center">Grab your favorite!</h2>
  <div class="search-form-control form-group">
    <%= form_tag cocktails_path, method: :get, class: "search-form" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control"
      %>
      <%= submit_tag "Search", class: "btn btn-warning", id:"search" %>
  </div>

<% end %>
<h5 class="text-center"><%= link_to new_cocktail_path do %> <i class="fas fa-pen-square"></i> New Cocktail<% end %></h5>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do%>
        <% if cocktail.photo.file %>
        <div class="card" style="background-image: url(<%= cl_image_path(cocktail.photo) %>)"> 
        <% elsif cocktail.image_url == nil %>
          <div class="card" style="background-image: url(https://www.interserver.net/tips/wp-content/uploads/2016/10/404error.jpeg)"> 
          <% else %>
          <div class="card" style="background-image: url(<%= cocktail.image_url %>)"> 
        <% end %>
            <p class="cocktail-name text-center"><%= cocktail.name %></p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="footer">
    <h3>Want to See more? Follow us!</h3>
  </div>
</div>

</div>
