<div class="d-flex justify-content-center" id="show-container">
  <div class="image-container">
    <% if @cocktail.photo.file %>
      <%= cl_image_tag(@cocktail.photo, class: "image", size: "400x500")%>
    <% elsif @cocktail.image_url == nil %>
      <%= image_tag( "https://www.interserver.net/tips/wp-content/uploads/2016/10/404error.jpeg", class: "image")%>  
    <% else %>
      <%= image_tag(@cocktail.image_url, class: "image", size: "400x500")%>
    <% end %>
    <div class="div text-center pt-4">
      <%= link_to edit_cocktail_path, class: "pr-3" do %> 
        <i class="fas fa-edit pr-1"></i>Edit
      <% end %>
      <%= link_to cocktail_path, method: :delete, data: {confirm: "Deleted cocktails can't be brought back. Are you sure?"}, class: "pr-3" do %>
        <i class="fas fa-trash"></i> Delete
      <% end %>
    </div>
  </div>
  <div class="cocktail-information ml-5">
    <h1 id="cocktail-header"><%= @cocktail.name %></h1>
    <p> Alcohol Level: <%= render 'shared/alcohol_level', cocktail: @cocktail %> </p>
    <p class="cocktail-flavor">FLAVOR: <%= @cocktail.flavor %></p>
    <p class="cocktail-description"><%= @cocktail.description %></p>
  <div class="cocktail-doses border px-3 py-4">
    <h3 class="h-100 text-center">Ingredients</h3>
    <% if @cocktail.doses == [] %>
      <p class="text-center">No ingredients added yet 😢</p> 
    <% else %>
          <div class="d-flex justify-content-between">
      <% @cocktail.doses.each do |dose| %>
        <p><%= dose.ingredient.name %></p>
        <p><%= dose.description %></p>
      <% end %> 
    </div>
    <% end %>
    <%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary d-block submit-dose" %>
  </div>
  </div>
</div>
